[Unit]
Description=Check TKA operations every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
Unit=tka-monitor.service

[Install]
WantedBy=timers.target
