<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>TKA iOS 网关</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>用于连接附近的 WT9011DCL-BT50 康复传感器，并安全上传经授权患者的运动数据。</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
